{% extends 'bootstrap/base.html' %}
<!DOCTYPE html>

<html>
    <head>
      <link href='https://fonts.googleapis.com/css?family=Bilbo Swash Caps' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family=Mukta' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family=Shadows Into Light Two' rel='stylesheet'>
      <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    </head>
    <body>
        {% block content %}

        {% endblock%}



        {% block navbar %}
            <!--include control block to include navbar.html file-->
            {% include 'navbar.html' %}
        {% endblock %}

    </body>
</html>
